<div [@routerTransition]>
    <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>I am totally mad. Find your vehicles here.</p>
        <p><a href="javascript:;" class="btn btn-primary btn-lg" role="button">Learn more »</a>
        </p>
    </div>

    <br>

    <div class="page-header">
        <h1>Vehicle Lists</h1>
        <hr>
    </div>
    <div class="row">
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="list-group">
                <a href="javascript:;" class="list-group-item active">
                    <h4 class="list-group-item-heading">Vehicle A</h4>
                    <div class="col-sm-12">
                        <p class="list-group-item-text">Vehicle Found</p>
                        <img class="img-thumbnail" src="http://placehold.it/400x400" alt="">
                    </div>
                </a>
                <a href="javascript:;" class="list-group-item">
                    <h4 class="list-group-item-heading">Vehicle B</h4>
                    <div class="col-sm-12">
                        <p class="list-group-item-text">Vehicle not Found</p>
                        <img class="img-thumbnail" src="http://placehold.it/400x400" alt="">
                    </div>
                </a>
                <a href="javascript:;" class="list-group-item">
                    <h4 class="list-group-item-heading">Vehicle C</h4>
                    <div class="col-sm-12">
                        <p class="list-group-item-text">Vehicle in Search</p>
                        <img class="img-thumbnail" src="http://placehold.it/400x400" alt="">
                    </div>
                </a>
            </div>
        </div>
        <!-- /.col-sm-4 -->
    </div>

    <div class="page-header">
        <h1>Cards</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-4">

            <div class="card card-primary card-inverse mb-3">
                <div class="card-header card-primary">
                    Card title
                </div>
                <div class="card-block bg-white">
                    Card content
                </div>
            </div>
        </div>

        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="card card-success card-inverse mb-3">
                <div class="card-header card-success">
                    Card title
                </div>
                <div class="card-block bg-white">
                    Card content
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->

    </div>
</div>
